{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="sixteen columns">
        <h1 class="remove-bottom" style="margin-top: 40px">Peter Kelly</h1>
        <h5>Version 0.1</h5>
        <hr />
    </div>
    <div class="one-third column">
        <h3>About Me</h3>
        <p> I'm an advocate of impact investing, triple-bottom-line business, and entrepreneurship. My work experience has focused on carbon markets, and in 2011 I started programming.  I was a cofounder of Clothesliner and am currently doing contract work in the carbon market. </p>
    </div>
    <div class="one-third column">
        <h3>PK Core Principles</h3>
        <p>PK is built on three core principles:</p>

    </div>
    <div class="one-third column">
        <h3>Support</h3>
    </div>

</div><!-- container -->

{% endblock body %}