{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="sixteen columns">
    <h1 class="remove-bottom" style="margin-top: 40px">Peter Kelly</h1>
    <h5 style="color:#444">In ongoing beta.</h5>
    <hr />
</div>
<div class="sixteen columns">

    <div class="one-third column alpha">

    <img src="https://s3.amazonaws.com/pksite/everest.JPG" style="max-width: 100%;" alt="A photo of me." />
    </div>
    <div class="one-third column">
        <h3>About Me</h3>
        <p> I'm an advocate of impact investing, triple-bottom-line business, and entrepreneurship more generally.</p>
        <p> For 3 years I worked as a consultant providing quantitative and qualitative analysis on climate policy, renewable energy, and the carbon market.  </p>
        <p> I've always been interested in clothing and textiles and in 2011 I started programming and co-founded <a href="http://www.clothesliner.com">Clothesliner</a>, a website that described the fit of clothing by comparing any item to something you're familiar with. </p>
        <p> I currently work as an independent consultant in the carbon market / impact investing space and am always looking to meet other entrepreneurs, social or otherwise. Email me at ptrklly (at gmail). </p>
    </div>
    <div class="one-third column omega">
        <h3> More</h3>
            <ul>
                <li> Find me on social sites:
                <ul class="circle">
                    <li>on <a href="www.linkedin.com/ptrklly/">LinkedIn</a> </li>
                    <li>on <a href="www.github.com/ptrklly/">Github</a></li>
                    <li>on <a href="www.twitter.com/ptrklly/">Twitter</a></li>
                </ul>
                </li>
                <li> See some of my publicly available work:
                <ul class="circle">
                    <li>a <a href="www.clothesliner.com/demonstration">prototype</a> of a search engine for clothing, built for Clothesliner</li>
                    <li>a <a href="www.keeporegoncool.org/meeting/oregon-global-warming-commission">presentation</a> to the Oregon Global Warming Commission about Oregon's forests </li>
                    <li>a <a href="www.oregon.gov/ODF/BOARD/docs/2011_March/BOFATTCH_20110309_J_02.pdf">report</a> about forestry, wildfires, and carbon credits</li>
                </ul>                   
                </li>
                <li> See my <a href="www.ptrklly.com/resume"> resume </a> </li>
            </ul>
    </div>
</div>
<hr />


{% endblock body %}